{% extends 'base.html' %}
{% block meta %}
<title>Login</title>
{% endblock meta %}
{% block content %}
<div class = "container">
        <div class = "login position-absolute top-50 start-50 translate-middle">
            <h1 style="text-align: center;">Login</h1>
            <form class="inline" method="POST" action="" style="max-width: max-content;">
                {% csrf_token %}   
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" class="form-control">
    
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" class="form-control">
    
                <input class="btn btn-primary login-btn" type="submit" value="Login">
            </form>
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %} 
            <p style="text-align: center;">Don't have an account yet? <a href="{% url 'authentications:register' %}">Create account</a></p>

        </div>
</div>
{% endblock content %}          


<style>
    li {
        color: green;
    }
    .loginss {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 400px;
        }
    .login-btn {
        background-color: #2B4560;
        border:none;
        margin-top: 10px;
        margin-bottom: 16px;
        padding: 6px 170px 10px 170px;
        width: 100%;
    }

    .login-btn:hover {
        background-color: #22364b;
    }
    
    @media screen and (max-width: 600px) {
          .login {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 90%;
          }
    }
        
    </style>

