/* Common styles */
@import url('https://fonts.googleapis.com/css?family=Mulish');
@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Playfair');
body {
  margin-bottom: 20%;
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}


.left {
  float: left;
}

.right {
  float: right;
}

.btn1right {
  outline: none;
  color: #E1E7E0;
  background-color: #6AA4B0;
  margin-left: 60%;
  margin-right: 0px;
  cursor: pointer;
  text-align: center;
  display:inline-block;
  width: 10%;
  padding: 1px;
  border-radius: 7px;
  font-family: Mulish;
  box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
}
.btn2right {
  outline: none;
  color: #E1E7E0;
  background-color: #6AA4B0;
  box-shadow: 0 0 0 0;
  margin-left: 2%;
  cursor: pointer;
  text-align: center;
  display:inline-block;
  width: 10%;
  padding: 1px;
  box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  font-family: Mulish;
}
.btnleft {
  outline: none;
  color: #E1E7E0;
  background-color: #6AA4B0;
  box-shadow: 0 0 0 0;
  margin-left: 4%;
  cursor: pointer;
  text-align: center;
  display:inline-block;
  width: 10%;
  padding: 1px;
  border-radius: 7px;
  box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
  font-family: Mulish;
}

.btnleft:hover {
  background-color: #2F6D80;
}

.btn1right:hover {
  background-color: #2F6D80;
}

.btn2right:hover {
  background-color: #2F6D80;
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
  font-family: Mulish;
}

/* App styles */
.title {
  text-align: center;
  margin: 10px;
  font-family: Playfair;
  font-weight: bold;
  color: #2B4560;
}

.calendar {
  width: 90%;
  margin: auto;
  font-size: 13px;
  background-color: #e1e7e0bd;
  font-family: Manrope;
}

.calendar tr, .calendar td {
  border: 1px solid #2F6D80;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #2B4560;
}