<footer class="u-clearfix u-footer u-grey-80" id="sec-1db8" style="background-color:#2B4560;"><div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1">
            <div class="u-container-layout u-valign-top u-container-layout-1"><!--position-->
              <div data-position="" class="u-position u-position-1"><!--block-->
                <div class="u-block">
                  <div class="u-block-container u-clearfix"><!--block_header-->
                    <h5 class="u-block-header u-text" style="font-weight:bold"><!--block_header_content-->OUR LOCATION<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                    <div class="u-block-content u-text"><!--block_content_content--> Fakultas Ilmu Komputer Universitas Indonesia Kampus UI Depok, Pondok Cina, Kec. Beji, Kota Depok, Jawa Barat 16424 <!--/block_content_content--></div><!--/block_content-->
                  </div>
                </div><!--/block-->
              </div><!--/position-->
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2"></div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-3">
            <div class="u-container-layout u-valign-top u-container-layout-3"><!--position-->
              <div data-position="" class="u-position"><!--block-->
                <div class="u-block">
                  <div class="u-block-container u-clearfix"><!--block_header-->
                    <h5 class="u-block-header u-text" style="font-weight:bold"><!--block_header_content-->CONTACT<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                    <div class="u-block-content u-text" ><!--block_content_content-->contact@joyfultimes.com<!--/block_content_content--></div><!--/block_content-->
                  </div>
                </div><!--/block-->
              </div><!--/position-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1"></div>
    <p class="u-align-center u-small-text u-text u-text-variant u-text-5"> Copyright © 2022 JoyfulTimes by PBP Group B-05</p>
  </div></footer>